<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head'); %>
</head>

<body>
    <div class="container">
        <h2>Player</h2>
        <div class="player">
            <button class="btn prev">Prev</button>
            <button class="btn play">Play</button>
            <button class="btn pause">Pause</button>
            <button class="btn next">Next</button>
            <hr>
            <button class="btn volume vol-minus">Volume-</button>
            <button class="btn volume vol-pluss">Volume+</button>
            <hr>
            <button class="feeder">Feeder</button>
        </div>
    </div>
    <script src="./index.js"></script>
</body>

</html>